.row {
	height: 25px;
}

.grid {
	margin: 100px 0 0;
}

.selecting-node {
	cursor: crosshair;
}

.start-node {
	background-color: red;
}

.end-node {
	background-color: blue;
}

.visiting {
	animation: wipe-finish 0.5s cubic-bezier(0.9, 0.9, 0.9, 0.9) forwards;
}

.visited {
	animation: wipe 0.5s cubic-bezier(0.9, 0.9, 0.9, 0.9) forwards;
}
@keyframes wipe {
	0% {
		background-color: #04acff;
	}
	100% {
		background-color: teal;
	}
}

@keyframes wipe-finish {
	0% {
		background-color: blueviolet;
	}
	100% {
		background-color: purple;
	}
}

.blocked {
	background-color: aqua;
}
