.row {
	height: 25px;
}

.container {
	margin-top: 50px;
}

.grid {
	margin: 50px 0 0;
}

.selecting-node {
	cursor: crosshair;
}

.start-node {
	animation: wipe-start 0.5s cubic-bezier(0.9, 0.9, 0.9, 0.9) forwards !important;
}

.end-node {
	animation: wipe-end 0.5s cubic-bezier(0.9, 0.9, 0.9, 0.9) forwards !important;
}

.visiting {
	animation: wipe-finish 0.5s cubic-bezier(0.9, 0.9, 0.9, 0.9) forwards;
}

.visited {
	animation: wipe 0.5s cubic-bezier(0.9, 0.9, 0.9, 0.9) forwards;
}
@keyframes wipe {
	0% {
		background-color: white;
		border-radius: 50%;
		outline: none;
	}
	10% {
		background-color: #04acff;
	}
	30% {
		transform: scale(0.7);
	}

	100% {
		background-color: teal;
		transform: scale(1);
	}
}

@keyframes wipe-finish {
	0% {
		background-color: blueviolet;
	}
	30% {
		transform: scale(1.1);
	}
	100% {
		background-color: purple;
		transform: scale(1);
	}
}

@keyframes wipe-blocked {
	0% {
		background-color: white;
	}
	30% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		background-color: rgb(122, 168, 43);
	}
}

@keyframes wipe-start {
	0% {
		background-color: salmon;
		border-radius: 50%;
		outline: none;
		transform: scale(0.7);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		background-color: lightsalmon;
	}
}

@keyframes wipe-start-loop {
	0% {
		background-color: salmon;
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
		background-color: lightsalmon;
	}
}
@keyframes wipe-end {
	0% {
		background-color: white;
		border-radius: 50%;
		outline: none;
		transform: scale(0.7);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		background-color: violet;
	}
}
.blocked {
	animation: wipe-blocked 0.3s cubic-bezier(0.9, 0.9, 0.9, 0.9) forwards;
}

.legend-start {
	background-color: lightsalmon;
}
.legend-end {
	background-color: violet;
}
.legend-block {
	background-color: rgb(122, 168, 43);
}
.legend-path {
	background-color: purple;
}

.legend {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.node-arrows {
	display: flex;
	align-items: center;
}
