.row{
    /* margin: 0; */
    /* position: absolute; */
    /* display: inline-block; */
    /* height: 10px; */
}

.grid{
    margin: 100px 0 0;
}

.selecting-node{
    cursor: crosshair;
}

.start-node{
    background-color: red;
}

.end-node{
    background-color: blue;
}

.visiting{
    background-color: purple;
}

.visited{
    background-color: teal;
    transition: 0.5s;
}